**/__pycache__/

# Ignore numpy data files
*.npy
*.npz

# Ignore pytorch model files
*.pth
!trained_nets/*.pth

# Ignore log files
*.log

# Ignore service key file for google cloud storage
service_key_gcloud.json

# Ignore the downloaded_airfoils directory
downloaded_airfoils/